# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"

NEXT_PUBLIC_API_URL=http://localhost:4000
DEMO_FRONTEND_CLIENT_ID=backend
DEMO_FRONTEND_CLIENT_SECRET=j788xF7vYJRPubFHAOvAi6WZoXFX3aR9
AUTH_ISSUER=http://localhost:8080/realms/itviec
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=my-secret-goes-here-abc-123
END_SESSION_URL=http://localhost:8080/realms/itviec/protocol/openid-connect/logout
DEMO_BACKEND_URL=http://localhost:4000/graphql
REFRESH_TOKEN_URL=http://localhost:8080/realms/itviec/protocol/openid-connect/token