node_modules
.vscode
.git*
.dockerignore
Dockerfile
docker-compose*
.prettier*
.eslint*
README.md
test
.DS_Store
Procfile

# production
dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

migrations

test