@import url('variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @import url('components.css');
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-size: 1rem;
    font-display: optional;
    src: url('/fonts/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  body,
  .p {
    @apply font-primary text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply mx-auto w-11/12;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }

  h1,
  .h1 {
    font-size: 28px;
    font-weight: 700;
  }

  h2,
  .h2 {
    font-size: 22px;
    font-weight: 700;
  }

  h3,
  .h3 {
    font-size: 18px;
    font-weight: 700;
  }

  h4,
  .h4 {
    font-size: 16px;
    font-weight: 600;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    line-height: 1.5;
  }

  @media (max-width: 575.98px) {
    h1,
    .h1 {
      font-size: 22px;
    }

    h2,
    .h2 {
      font-size: 20px;
    }
  }

  .normal-text {
    font-size: 16px;
    font-weight: 400;
  }

  .paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8 !important;
  }

  .text-contain-hyperlink a {
    color: #0e2eed;
  }

  .text-contain-hyperlink a:hover {
    color: #192fb5;
  }

  .small-text {
    font-size: 14px;
    font-weight: 400;
  }

  .lg-text,
  .lg-title {
    font-size: 36px;
    font-weight: 700;
  }

  .tiny-text {
    font-size: 12px;
    font-weight: 400;
  }

  pre {
    margin: 0;
    padding: 15px;
    background-color: var(--i-light-grey);
    border-radius: 4px;
  }

  ul {
    padding-left: 18px;
  }

  ul > li::marker {
    color: #ed1b2f;
  }

  @media (max-width: 575.98px) {
    .lg-text,
    .lg-title {
      font-size: 26px;
    }

    .tiny-text {
      font-size: 14px;
    }
  }

  img {
    max-width: none;
  }
}

@layer utilities {
  @import url('custom.css');

  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.position-sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
